[user]
	name = Tim Hopper
	email = tdhopper@gmail.com
[includeIf "gitdir:~/c/"]
path = ~/.gitconfig-work
[github]
user = tdhopper
[core]
	excludesfile = /Users/tdhopper/.gitignore
[color]
ui = true
[alias]
wdiff = diff
cleanup = "!git branch --merged | grep  -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d"
lg = log --max-count=12 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
lgg = log --max-count=24 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
lggg = log --max-count=48 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
co = checkout
branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(authorname) %(refname:short)'
aliases = config --get-regexp ^alias\\.
[core]
editor = vim
[diff]
tool = vscode
[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE
[merge]
tool = vscode
[mergetool "vscode"]
cmd = code --wait $MERGEDcredential]
helper = osxkeychain
[help]
autocorrect = 1
[branch]
autosetuprebase = always
autosetupmerge = always
[filter "media"]
required = true
clean = git media clean %f
smudge = git media smudge %f
[push]
default = current
[init]
defaultBranch = main
[pull]
rebase = false
ff = true
[rebase]
autoStash = true
